<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emailcatcher>
            <general>
                <enabled>1</enabled>
                <days_to_clean>30</days_to_clean>
            </general>
            <whitelist>
                <apply_whitelist>0</apply_whitelist>
                <email_templates/>
            </whitelist>
            <blacklist>
                <apply_blacklist>0</apply_blacklist>
                <block_email_addresses/>
            </blacklist>
            <development>
                <enabled>0</enabled>
            </development>
        </emailcatcher>
    </default>
</config>