<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emailcatcher>
            <general>
                <enabled>1</enabled>
                <smtp_disable/>
            </general>
            <whitelist>
                <apply_whitelist>0</apply_whitelist>
                <email_templates/>
            </whitelist>
        </emailcatcher>
    </default>
</config>