<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mail\TransportInterface">
        <plugin name="EmailCatcher" type="Experius\EmailCatcher\Plugin\Magento\Framework\Mail\TransportInterface" sortOrder="0"/>
        <!-- Changes sort order to Magento Plugins -->
        <plugin name="WindowsSmtpConfig" type="Magento\Email\Model\Plugin\WindowsSmtpConfig" sortOrder="2"/>
        <!-- Override "EmailDisable" plugin of native Magento to add admin email address allowance -->
        <plugin name="EmailDisable" type="Experius\EmailCatcher\Plugin\Magento\Framework\Mail\TransportInterfacePlugin"  sortOrder="2"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="experius_emailcatcher_grid_data_source" xsi:type="string">Experius\EmailCatcher\Model\ResourceModel\Emailcatcher\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin disabled="false" name="Experius_EmailCatcher_Plugin_Magento_Framework_Mail_Template_TransportBuilder" sortOrder="10" type="Experius\EmailCatcher\Plugin\Magento\Framework\Mail\Template\TransportBuilder"/>
    </type>
</config>
