<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Experius::top_level" module="Experius_EmailCatcher" resource="Magento_Backend::content" sortOrder="9999" title="Experius"/>
		<add action="experius_emailcatcher/emailcatcher/index" id="Experius::experius_emailcatcher" module="Experius_EmailCatcher" parent="Experius::top_level" resource="Magento_Backend::content" sortOrder="9999" title="emailcatcher"/>
	</menu>
</config>
