<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="emailcatcher" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Email Catcher</label>
            <tab>advanced</tab>
            <resource>Experius_EmailCatcher::config_experius_emailcatcher</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable Email Catcher</label>
                    <comment>System > Smtp must be disabled to catch the emails.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="smtp_disable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Disable Email Sending</label>
                    <comment>Prevents Magento from sending the actual email.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="whitelist" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Whitelist</label>
                <field id="apply_whitelist" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Apply whitelist</label>
                    <comment>If applied, email templates below will be sent while stopping all other emails</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            <field id="email_templates" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
                <depends>
                    <field id="apply_whitelist">1</field>
                </depends>
                <label>Email Templates</label>
                <comment>Whitelist the email templates that are allowed to be sent, while disabled</comment>
                <source_model>Experius\EmailCatcher\Model\Config\Source\EmailTemplates</source_model>
            </field>
        </group>
        </section>
    </system>
</config>